{% extends "base.html.twig" %}

{% block body %}
<section id="intro">
      <div class="container">
          <h4 class="rheading">Un livre au hasard<span></span></h4>
          <div class="row">
          <div class="span12">
            <div class="call-action" style="text-align: center; vertical-align: middle; display: table-cell;">
              {# TODO Il faudrait ici mettre la balise style dans la css, mais ça ne fonctionne pas !!  #}
              <img src="{{ asset('assets/img/custo/'~ unLivre[random(24)].picture ~'')}}" alt=""/>
              <div class="text">
                <div><h2>{{unLivre[random(24)].title}}, par {{unAuteur[random(24)].firstName}} {{unAuteur[random(24)].lastName}}</h2></div>
                <p>
                  Résumé: {{unLivre[random(24)].summary}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="maincontent">
  <div class="container">
        <h4 class="rheading">Avis les plus récents<span></span></h4>
        <div class="row">
          {% for i in range(0,3) %}
          <div class="span3 features e_pulse">
          {% if unAvis[i].reviewScore == 0 %}
            <img src="assets/img/custo/0stars.png" alt="" />
          {% elseif unAvis[i].reviewScore == 1 %}
            <img src="assets/img/custo/1stars.png" alt="" />
          {% elseif unAvis[i].reviewScore == 2 %}
            <img src="assets/img/custo/2stars.png" alt="" />
          {% elseif unAvis[i].reviewScore == 3 %}
            <img src="assets/img/custo/3stars.png" alt="" />
          {% elseif unAvis[i].reviewScore == 4 %}
            <img src="assets/img/custo/4stars.png" alt="" />
          {% else %}
            <img src="assets/img/custo/5stars.png" alt="" />
          {% endif %}
            <div class="box">
              <div class="divcenter">
              <br/>
              <b><i>{{unLivre[random(24)].title}}</i></b><br/></br>
                Le {{unAvis[i].reviewDate |date('d/m/Y')}}, <br/>Dao a donné son avis sur ce livre: 
                <blockquote><p><i class="icon-quote-left"></i>{{unAvis[i].reviewContent}}</p></blockquote>
                <a href="#" class="btn btn-theme">Voir la fiche du livre</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
        <div class="row">
          <div class="span12">
            <h4 class="rheading">Vous cherchez autre chose ?<span></span></h4>
            <div class="row">
              <div class="span3">

                <p class="hidden-phone">
                  Pour davantage de résumés, de notes et d'avis, consultez la liste complète de nos livres !
                </p>

                <a href="{{path('livres')}}" class="btn btn-theme">Plus de livres !</a>
              </div>

              <div class="span9">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">
                      {% for i in range(0,4) %}
                      <li>
                        <img src="assets/img/custo/{{random(4)}}.png" alt="" />
                      </li>

                      {% endfor %}
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
      
{% endblock %}

