{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="{{path('home')}}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li>Inscription
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>S'inscire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.login, {
            label: "Nom d'utilisateur"
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: "Mot de passe"
        }) }}
        {{ form_row(registrationForm.firstName, {
            label: "Prénom"
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: "Nom"
        }) }}
        {{ form_row(registrationForm.email, {
            label: "Email"
        }) }}
        {{ form_row(registrationForm.birthdate, {
            label: "Date de naissance"
        }) }}
        <button type="submit" class="btn btn-theme">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
