{% extends 'base.html.twig' %}

{% block title %}Tous les livres{% endblock %}

{% block body %}
<section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="{{path('home')}}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li>Livres
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="maincontent">
    {% for livre in livres%}
      <div class="container">  
    <h2>{{livre.title}}</h2>
        <div class="row">
          <div class="span6">
            <!-- start: Accordion -->
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle">
							<i class="icon-minus"></i>Résumé</a>
                </div>
                <div id="collapseOne">
                  <div class="accordion-inner">
                    {{livre.summary}}
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle">
							<i class="icon-minus"></i> Infos supplémentaires</a>
                </div>
                <div id="collapseTwo">
                  <div class="accordion-inner">
                    Auteur: {{auteurs[random(0,24)].firstName}} {{auteurs[random(0,24)].lastName}}<br/>
                    Genre: {{categories[random(0,24)].categoryName}}<br/>
                    Public: {{audience[random(0,24)].audienceGroup}}<br/>
                    Note moyenne: {{reviews[random(0,24)].reviewScore}}/5
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle">
							<i class="icon-minus"></i> Ce livre et vous</a>
                </div>
                <div id="collapseThree">
                  <div class="accordion-inner">
                     <a href="{{path('updateProfil', {id: livre.id, titre: livre.title, status: 'À lire'})}}" class="btn btn-theme">J'aimerais le lire</a>
                     <a href="{{path('updateProfil', {id: livre.id, titre: livre.title, status: 'En cours'})}}" class="btn btn-theme">Je le lis</a>
                     <a href="{{path('updateProfil', {id: livre.id, titre: livre.title, status: 'Lu'})}}" class="btn btn-theme">Je l'ai lu</a>
                  </div>
                </div>
              </div>
            </div>
            <!--end: Accordion -->
          </div>
          <div class="span6">
            <div class="centered">
              <img src="{{ asset('assets/img/custo/'~ livre.picture ~'')}}" alt="" />
            </div>
          </div>
        </div>
{% endfor %}
        </section>
{% endblock %}
